name: ui
on:
  push:
    paths:
      - "ui/**"
    branches:
      - master
      - release/*
  pull_request:
    paths:
      - "ui/**"  
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup NodeJS
        uses: actions/setup-node@v6.0.0
        with:
          node-version: "16"

      - uses: actions/cache@v4.2.4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Build
        run: |
          cd ./ui
          npm install
          npm run build:prod
          docker build -t hantsy/spring-webmvc-auth0-sample-ui:latest .

      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Push Docker Image
        run: docker push hantsy/spring-webmvc-auth0-sample-ui:latest